@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoe-ui-4-cufonfonts/Segoe\ UI.ttf');
}

@font-face {
    font-family: 'Segoe UI';
    src: url('../fonts/segoe-ui-4-cufonfonts/Segoe\ UI\ Bold.ttf');
    font-weight: bold;
}

body {
    margin: 0 auto;
}

h1, p {
    margin: 0;
}

.main-container {
    width: 100vw;
    height: 100vh;
    background: #F0F2F5 0% 0% no-repeat padding-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    width: 100vw;
    height: 67px;
    background: transparent linear-gradient(180deg, #17A9FDC6 0%, #1877F2 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 6px #00000087;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header h1 {
    margin: 0;
    text-align: center;
    font: normal normal normal 40px Segoe UI;
    letter-spacing: 0px;
    color: #FFFFFF;
}
nav {
    width: 100vw;
    height: 63px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}

nav ul {
    width: 55em; 
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

nav li {
    font: normal normal 600 20px/27px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
}

nav a {
    text-decoration: none;
}

nav a:link {
    color: #000000;
}

main {
    width: 55em;
    margin-top: 1.5vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 6px;
}

.search-form-container {
    display: flex;
    justify-content: center;
    width: 100%
}

.search-form {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-auto-rows: auto;
    width: 80%;
    margin-top: 1.5em;
}

.search-form label {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;

    font: normal normal bold 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #000000A6;
}

.date-input-text {
    grid-column-start: 2;
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: 1;

    font: normal normal bold 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #000000A6;
}

.user-select {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;

    background: #F0F2F547 0% 0% no-repeat padding-box;
    border: 1px solid #1877F2;
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #2699FB;
    height: 3.5em;
    width: 80%;
    padding-left: 1em;
    box-sizing: border-box;
}

.search-form input[name=from] {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;

    background: #F0F2F547 0% 0% no-repeat padding-box;
    border: 1px solid #1877F2;
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #BCE0FD;
    width: 80%;
    padding-left: 1em;
    box-sizing: border-box;
}

.search-form input[name=to] {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;

    background: #F0F2F547 0% 0% no-repeat padding-box;
    border: 1px solid #1877F2;
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #BCE0FD;
    width: 80%;
    justify-self: end;
    padding-left: 1em;
    box-sizing: border-box;
}

.search-input-text {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 3;
    grid-row-end: 3;

    font: normal normal bold 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #000000A6;
    margin-top: 1.5em;
}

.search-input-container {
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 4;
    grid-row-end: 4;

    display: flex;
}

.search-input-container input {
    background: #F0F2F547 0% 0% no-repeat padding-box;
    border: 1px solid #1877F2;
    width: 93%;
    height: 3.5em;
    box-sizing: border-box;
    font: normal normal normal 14px/16px Arial;
    letter-spacing: 0px;
    color: #BCE0FD;
    padding-left: 1em;
}

.search-input-container button {
    background: #2699FB 0% 0% no-repeat padding-box;
    border: 0;
    color: #FFFFFF;
    width: 7%;
    box-sizing: border-box;
}

.results-container {
    margin-top: 2em;
}

.results-container h1 {
    font: normal normal normal 30px/40px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    margin-left: 3%;
}

.results-table-container {
    width: 100%;
    margin-top: 1em;
    display: flex;
    justify-content: center;
}

.results-table-container th {
    font: normal normal bold 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #000000;
    text-align: left;
    padding: 0.5em;
}

.results-table-container td {
    font: normal normal 600 15px/20px Segoe UI;
    letter-spacing: 0px;
    color: #000000A6;
    padding: 0.5em;
}

.results-table-container tr:nth-child(odd) {
    background: #F0F2F5 0% 0% no-repeat padding-box;
}

.results-table-container table {
    border-collapse: collapse;
    width: 90%;
}

@media only screen and (max-device-width: 640px) {
    header {
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    header h1 {
        font-size: 5vh;
    }

    nav {
        width: 100vw;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        padding-top: 1em;
        padding-bottom: 3.5em;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav li {
        padding-top: 24px;
        padding-bottom: 12px;
        width: 75%;
        text-align: center;
        font-size: 3vh;
        box-sizing: border-box;
        border-bottom: 1px solid #a1a1a1;
        box-shadow: 0 8px 0 #F0F2F5;
    }

    nav li:nth-child(5) {
        border-bottom: 0;
        box-shadow: 0 0 0;
    }

    main {
        width: 100%;
        height: auto;
        box-sizing: border-box;
    }

    .search-form {
        width: 90%;
        grid-template-columns: 50% 50%;
        grid-auto-rows: auto;
    }

    .search-form label, .date-input-text, .search-input-text {
        display: none;
    }

    .user-select {
        grid-column-start: 1;
        grid-column-end: span 2;
        grid-row: 1;

        width: 100%;
        height: 12vw;
        font-size: 2em;
    }

    .search-form input[name=from] {
        margin-top: 3vh;
        grid-column: 1;
        grid-row: 2;

        height: 12vw;
        font-size: 2em;
    }

    .search-form input[name=to] {
        margin-top: 3vh;
        grid-column: 2;
        grid-row: 2;

        height: 12vw;
        font-size: 2em;
    }

    .search-input-container {
        
        grid-column-start: 1;
        grid-column-start: span 2;
        grid-row: 3;

        margin-top: 3vh;
        height: 12vw;
    }

    .search-input-container input {
        height: 100%
    }

}